/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: #fff;
	overflow-x: hidden;
	margin: 0;
	text-rendering: geometricPrecision;
}

header {
	position: relative;
}

.img-responsive {
	display: inline-block;
}

.no-margin, .no-margin:hover {
	margin: 0 !important;
}

/* ==== 2) Typography ==== */

.light {
	color: #fff;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #96a0af;
	font-weight: 300;
	margin: 0 0 15px 0;
}

p:last-child {
	margin: 0;
}

h1, h2, h3, h4 {
	color: #4b5569;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	margin: 0 0 15px 0;
}

h1 {
	font-size: 42px;
	letter-spacing: -2px;
}

h2 {
	font-size: 36px;
	letter-spacing: -1px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 36px;
		letter-spacing: -1px;
	}
	h2 {
		font-size: 30px;
		letter-spacing: 0;
	}
}

@media (max-width: 568px) {
	h1 {
		font-size: 30px;
		letter-spacing: 0;
	}
	h2 {
		font-size: 24px;
		letter-spacing: 0;
	}
}

h3 {
	font-size: 19px;
}

a {
	color: #4b5569;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover, a:focus, a:active, a:active:focus {
	color: #96a0af;
	text-decoration: none;
}


/* ==== 4) Dividers ==== */

hr {
	border-top: 1px solid #edf2f5;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divide-xs {
	padding-top: 15px;
	padding-bottom: 15px;
}

.divide-sm {
	padding-top: 30px;
	padding-bottom: 30px;
}

.divide-md {
	padding-top: 45px;
	padding-bottom: 45px;
}

.divide-lg {
	padding-top: 60px;
	padding-bottom: 60px;
}

.divide-xl {
	padding-top: 90px;
	padding-bottom: 90px;
}

@media (max-width: 768px) {
	.divide-xs {
		padding-top: 7px;
		padding-bottom: 8px;
	}
	.divide-sm {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.divide-md {
		padding-top: 22px;
		padding-bottom: 23px;
	}
	.divide-lg {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.divide-xl {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

/* ==== 5) Intro & CTA ==== */

/* Set the height of hero/intro, set image background */

.hero {
	background-image:url(/images/header2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 480px;
}

/* Set the height of intro on smaller screens */

@media (max-width: 620px) {
	.hero, .video-hero {
		height: 600px;
	}
}

@media (max-width: 480px) {
	.hero, .video-hero {
		height: 500px;
	}
}
/* Position content in center of intro element */

.float-content {
	position: absolute;
	width: 100%;
	top: 25%;
	transform: translateY(-50%);
}

@media (min-width: 992px)
.container {
  /* width: 970px; */
}

@media (max-width: 767px) {
	.float-content {
		top: 35%;
	}
}

@media (max-width: 567px) {
	.float-content {
		top: 45%;
	}
}

/* Stick to bottom featured intro image */

.sticky-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* Video/Image overlay */

.section-overlay {
	background: rgba(75, 85, 100, .9);
	position: absolute;
	width: 100%;
	height: 101%;
}


/* ==== 6) Features, gallery & pricing ==== */

/* When the image is off grid on left side */

.img-offgrid-left {
	position: absolute;
	bottom: -1px;
	right: 51%;
}

/* When the image is off grid on right side */

.img-offgrid-right {
	position: absolute;
	bottom: -1px;
	left: 51%;
}

/* Put image back in center under content on small screens */

@media (max-width: 767px) {
	.img-offgrid-left {
		position: relative;
		right: 0;
	}
	.img-offgrid-right {
		position: relative;
		left: 0;
	}
}


